.heat-map {
  &__legend {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: -5px;
    left: 190px;

    &--color {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border-radius: 30px;
      background-color: black;
    }

    &--text {
      color: white;
    }
  }
}
